[submodule "aws-cfn-vpc-for-slc"]
	path = aws-cfn-vpc-for-slc
	url = https://github.com/dceoy/aws-cfn-vpc-for-slc.git
[submodule "aws-cfn-nfs"]
	path = aws-cfn-nfs
	url = https://github.com/dceoy/aws-cfn-nfs.git
